{% extends 'core/base.html' %}


{% block content %}
	
	<div class="contact">

	<div class="container text-center headerset">
		<div class="contact_header">
		<h1 class="headline-text">Contact Us</h1>
		Our team is happy to answer all your questions. Fill out the form and we’ll be in touch as soon as possible.
		</div>
	</div>
	

	    <div style="margin-left: 20%; margin-right: 20%;5px; margin-top:  text-align: center">
			{% if messages %}
	          {% for message in messages %}

	          <div class="alert alert-{{ message.tags }}">
	              {{ message }}
	          </div>

	          {% endfor %}
	          {% endif %}
			</div>
			


   <div class="container-fluid">
   	<div class="row">
   		<div class="col-md-7">
		  <section class=" container contact text-center">
		    
		  <div class="contact-form border">
		    <form method="post" action="#">
		      {% csrf_token %}
		      

		      {{ form }}

		      <!--<input type="button" name="summit" value="send message" class="btn-btn">-->
			      <button class="btn bg-dark text-white btn lg">SUMMIT</button>
			    </form>
			    <hr class="hr_vertical">
			    
			  </div>  
			</section>
		  </div>
		  <div class="col-md-5">
		 
            <!-- Links -->
            
            <div class="contact_info" style="margin-top: 50px;">
            <p class="r">
            	<span>
            	<p style="font-size: 20px">Ristretto Barista coffee school</p>
            	Lekhnath Marga Thamel , Kathmandu 44600	
           		</span><br><br>
            	<a href="https://www.google.com/maps/place/Ristretto+Barista+coffee+school,+thamel/@27.7181697,85.308848,17z/data=!3m1!4b1!4m5!3m4!1s0x39eb19f3d1ac6e79:0xe360b9596f2a88ca!8m2!3d27.718165!4d85.311042" target="_blank">Find us on Google maps.</a> <br><br>
              <i class="far fa-envelope"></i>:<span></span
              ><em>ristretto@gmail.com</em>
            </p>
            <p class="r">
              <i class="fas fa-mobile-alt "></i>:<span></span> 9805753411
            </p>
            <p class="r">
              <i class="fas fa-tty"></i>:<span></span> +01 234 567 89
            </p>
        
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
		  </div>

</div>







{% endblock %}